<div fxLayout="column" fxLayoutAlign="space-between center">
  <div>
    <h1>Pokemon Game</h1>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <!-- <button mat-stroked-button color="primary" routerLink="/information">
      HOW TO PLAY
    </button> -->

    <button mat-raised-button color="primary" routerLink="/game" class="breath">
      PLAY
    </button>

    <button mat-stroked-button color="primary" routerLink="/information/scores">
      SCORES
    </button>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
  <form (submit)="buscaPokemon()">
    <h2>Pokémon:</h2>
    <input type="text" [(ngModel)]="pokemonID" [ngModelOptions]="{standalone: true}" name="pokemonIdOrName"
           placeholder="Enter Pokemon ID or Name" />
    <button mat-raised-button color="primary" type="submit">Search</button>
  </form>

  <div *ngIf="pokemon">
    <div>
      <img [src]="pokemon.sprites.front_default" alt="Pokemon Image">
    </div>
  </div>
</div>
